[Unit]
Description=daphne daemon for logistics
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/logistics/django/logistics_project
ExecStart=/logistics/logi/bin -b 0.0.0.0 -p 8001 logistics_project.asgi:application

# Not sure if should use 'on-failure' or 'always'. 
Restart=on-failure

[Install]
WantedBy=multi-user.target
