.parallax {
	/* Set a specific height */
	min-height: 400px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 5px solid #b5a268;
}
.move-to-top {
	position: absolute;
}
