.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#object{
  padding: 10px;
}
.accordion-inner-head{
  padding-bottom: 5px;
}
.accordion-inner-details{
  padding-left: 10px;
}
.card-header > a:before {
	float: right !important;
	font-family: FontAwesome;
	content:"\f068";
	padding-right: 5px;
	font-size: 12px;
}
.card-header > a.collapsed:before {
	float: right !important;
	content:"\f067";
}
.card-header > a:hover, 
.card-header > a:active, 
.card-header > a:focus  {
	text-decoration:none;
}
a, a:hover{
  color: white;
  text-decoration: none;
}
div.card{
  border: 0px;
  border-bottom: 1px solid black;
  border-radius: 0px !important;
}
div.card-header{
	border-radius: 0px !important;
	background-color: white;
	border-bottom: 0px;
	padding: 15px 0px; 
}
#similar_item{
  padding: 0px 6px;
}
.moca-icon{
  position: fixed !important;
}
.gara-14{
	  font-size: 14px;
	  letter-spacing: 1px;
	}

#outer-div{
    width: 100%;
  	height: 100vh;
 	overflow: hidden;
}
 
#inner-div{
    height: 100%;
  	margin-right: -50px; /* maximum width of scrollbar */
  	padding-right: 50px; /* maximum width of scrollbar */
  	overflow-y: scroll;
}