.parallax {
	/* Set a specific height */
	min-height: 700px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 5px solid #b5a268;
}
.move-top {
	position: absolute;
	top: 50%;
	left: 10%;
}
#side-links
{
	color: #8f0000;
	border-bottom: 1px solid #8f0000;
}