{% extends "museumapp/base.html" %}

{% load static %}
	
	<!--- Title --->
	{% block title %}	{% endblock %}

	<!--- Custom CSS --->
	{% block custom-css-parts %}
	{% endblock %}

	<!--- Custom Style --->
	{% block style %}
		<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/cafeMoca.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/toi-css/hover-box.css' %}" />
	{% endblock %}

	<!--- Body content --->
	{% block body-content %}
		<!-- Page Content  -->
		<div id="content">

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12" style="padding: 0px;">
						<div class="parallax" style="background-image: url('{% static 'museumapp/image/109.png' %}');"></div>
					</div>
					
					<div class="move-top">
						<div class="fira-on-image fira font-weight-bold">PLAN A VISIT / <span style="color: black;">MOCA CAFE</span></div>
						<div class="big-font-on-image garamond">Traditional Goan Snacks</div>
					</div>
				</div>
			</div>
				
			<div class="container-fluid from-image-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6 high-para" style="padding-left: 0px;">
									<div class="page-highlights garamond">Enjoy a wide selection of freshly-prepared, traditional homemade Goan snacks and drink in a beautiful outdoor cafe. These items are made especially for the museum by local
									communities in Goa.
									</div>
								</div>
								<div class="col-sm-3"></div>
							</div>

							<div class="row high-para">
								<div class="container-fluid">
									<div class="row moca-cafe-text">
										<div class="col-sm-3"></div>
										<div class="col-sm-3" style="padding-left: 0px;">
											<div class="row small-heading fira font-weight-bold sub-para" style="margin-top: 30px;margin-left: 0px;">OPENINGS TIMES</div>
											<div class="inner-para garamond inner-text-getting-there sub-para" >
												The Garden Café is open all year, weather dependent during the monsoon.
											</div>
											<div class="inner-para garamond inner-text-getting-there sub-para">
												Daily: 10.00 – 17.10<br> Friday: 10.00 – 21.15
											</div>
											<div class="inner-para garamond inner-text-getting-there sub-para">
												<b class="gara-14" style="letter-spacing: 0px;">PLEASE NOTE</b>: occasionally the Courtyard Café will not open until 10.00 due to museum events.
											</div>
											<div class="inner-para garamond inner-text-getting-there sub-para">
												For more information, please call +44 (0)20 7581 2159
											</div>
										</div>
										<div class="col-sm-6"></div>
									</div>	
								</div>
							</div>

							<div class="row next-links">
								<div class="col-sm-3"></div>
									
								<div class="col-sm display-image">
									<a href="{% url 'museumapp:accessibilityMoca' %}">
										<div class="hvrbox">
											<img src="{% static 'museumapp/image/iwt/access-min.png' %}" class="img-fluid1 img-fluid" alt="Moca">
											<div class="hvrbox-layer_top">
												<div class="hvrbox-text hvrbox-layer_slideup">Stories of Faith, through the museum collection.</div>
											</div>
										</div>
									</a>
								</div>

								<div class="col-sm display-image">
									<!--<a href="http://www.selfdefence.co.in/mocashop" target="_blank">-->
										<a href="{% url 'museumapp:shopAlert' %}" target="_blank">
										<div class="hvrbox">
											<img src="{% static 'museumapp/image/mocashop.png' %}" class="img-fluid1 img-fluid" alt="Moca" >
											<div class="hvrbox-layer_top">
												<div class="hvrbox-text hvrbox-layer_slideup">Stories of Faith, through the museum collection.</div>
											</div>
										</div>
									</a>
								</div>

								<div class=" col-sm display-image">
									<<!-- a href="{% url 'museumapp:knowledgeCenterMoca' %}">
										<div class="hvrbox">
											<img src="{% static 'museumapp/image/KC03.jpeg' %}" class="img-fluid1 img-fluid" alt="Moca">
											<div class="hvrbox-layer_top">
												<div class="hvrbox-text hvrbox-layer_slideup">Stories of Faith, through the museum collection.</div>
											</div>
										</div>
									</a> -->
								</div>
								<div class="col-sm-3"></div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	{% endblock %}

	<!--- Custom Script Block --->
	{% block custom-script %}	{% endblock %}















								