{% extends "museumapp/base.html" %}

{% load static %}
	
	<!--- Title --->
	{% block title %}
		Museum of Christian Art
	{% endblock %}

	<!--- Custom CSS --->
	{% block custom-css-parts %}
		<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/eventsMoca.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/toi-css/hover-box.css' %}" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	{% endblock %}

	<!--- Custom Style --->
	{% block style %}
	
			<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/planAVisitMoca.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'museumapp/css/toi-css/hover-box.css' %}" />
		
		
		<style type="text/css">
			#border-line{
				padding-bottom: 15px;
    			border-bottom: 1px solid black;
    			padding-left: 0px;
    			padding-right: 0px;
			}
			.form-group{
				margin-bottom: 0px;
			}
			option.space{
				margin-bottom: 20px;
			}
			span.twitter-typeahead
			{
				width: 100%;
				height: 40px;
			}
			input.tt-hint{
				width: 100%;
				height: 40px;
				border: 0px;
				padding-left: 20px;
				color: #615f5f82;
				font-size: 15px;
				letter-spacing: 0px;
			}
			input.tt-input{
				width: 100%;
				background-color: #d3d3d35e !important;
				border: 0px;
				height: 40px;
				color: #615f5f82;
				border-radius: 0px;
				font-size: 15px;
				letter-spacing: 0px;
				padding-left: 20px;
			}
			div.tt-menu{
				background-color: #d3d3d3;
				width: 100%;
				padding: 20px;
			}
			div.tt-dataset{
				border-bottom: 1px solid black;
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
			div.tt-suggestion, div.tt-selectable{
				cursor: pointer;
			}
			#event-title, #event-small-details, #event-big-details{
				margin-left: 0px;
				margin-right: 0px;
			}
			@media (max-width: 425px) {
				input.tt-hint {
				    padding-left: 5px;
				    font-size: 12px;
				}
				input.tt-input {
				    font-size: 12px;
				    padding-left: 5px;
				}
				div.drp-button-class div.pad_left div.form-group {
				    margin-bottom: 5px;
				}
				#object_type, #material, #time_period, #location{
					margin-bottom: 5px;
				}
				.in-middle{
					text-align: -webkit-center;
				}
			}



			.ui-datepicker-calendar {
    display: none;
    }
			
			
				
	input#search_event_exb {
    width: 100%;
    background-color: #d3d3d35e !important;
    border: 0px;
    height: 40px;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 0px;
    padding-left: 20px;
	font-weight: 700!important;
    font-family: 'Fira Sans';
}


	input#select_year{
    background-color: #d3d3d35e;
    border: 0px;
    height: 40px;
    width: 100%;
    color: #615f5f82;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 0px;
}

 input#select_month{
    background-color: #d3d3d35e;
    border: 0px;
    height: 40px;
    width: 100%;
    color: #615f5f82;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 0px;
}
 
 
  select#topic{
    background-color: #d3d3d35e;
    border: 0px;
    height: 40px;
    width: 100%;
    color: #615f5f82;
    border-radius: 0px;
    font-size: 15px;
    letter-spacing: 0px;
}


div#all_data_whatson {
    margin-left: 70px;
    margin-right: 100px;
	 margin-top: 50px;
}

div#event-title {
    line-height: 1;
	font-size: 25px;
	text-transform: none !important;
}

.high-para{margin-bottom:10px; margin-top:10px;}

#event-big-details{font-size:12px; color: #9e9e9e;}


div#listing {
    margin-left: 70px !important;
    margin-right: 100px !important;
    margin-top: 50px !important;
}


.high-para {
    margin-bottom: 0px !important;
    margin-top: 10px;
	text-transform: uppercase;
}

.high-para1{
    margin-bottom: 10px;
    margin-top: 10px;

}

		</style>
		{% endblock %}
		
			<!--- Custom Style --->


	<!--- Body content --->
	{% block body-content %}
		<!-- Page Content  -->
		<div id="content">
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12" style="padding: 0px;">
						<div class="parallax" style="background-image: url('{% static 'museumapp/image/whatson-min.jpg' %}');"></div>
					</div>
					
					<div class="move-top">
						<div class="fira-on-image fira font-weight-bold">WHAT 'S ON</div>
						<div class="big-font-on-image garamond">Events & <br>Exhibitions</div>
					</div>
				</div>
			</div>
			
			
			<div class="container-fluid from-image-content">
				<div class="row">
					
					<div class="col-sm-12">

						<div class="row">
							<div class="col-sm-12" style="">
							
							
							<div class="row">
							<div class="col-sm-3"></div>
							<div class="col-sm-6 page-highlights garamond high-para1">
							<p>Browse through our calendar and discover new things to see and do during your visit. Save the date for exclusive exhibitions, performances, lectures, seminars, workshops, and activities. Read and learn about past exhibitions. Take part in our guided tours of the museum and its historical neighborhood.</p>
</div>

<div class="col-sm-3"></div>
</div>


								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<div class="page-heading garamond sub-para">Search</div>
									</div>
									<div class="col-sm-2"></div>
								</div>

								<div class="row sub-para">
												
									<div class="col-sm-2"></div>
									<div class="col-sm-9" style="padding-right: 0px ">
									
										<form>
											<div class="form-group" id="search">
												<div id="multiple-datasets">
													<div class="">
														<div class="" style="margin-right: 0px;justify-content: space-evenly;">
															<div class="col-sm-11" style="padding-left: 0px;width: 90%;">
																<input class="form-group" type="text" placeholder="BY NAME OF EVENT OR EXHIBITION" name="search" id="search_event_exb" style="color: #615f5f82;width: 100%">
															</div>
															<!--<div class="col-sm-1" style="padding-left: 0px; width: auto; padding-right: 0px;">
																
																<button type="submit" value="Search" class="search-button"><img class="search-icon" src="{% static 'museumapp/image/search-icon.png' %}"></button>
															</div>-->
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
									<div class="col-sm-1"></div>
								</div>

								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<div class="typeahead small-text font-weight-bold fira sub-para" style="">OR FILTER BY</div>
									</div>
									<div class="col-sm-2">
									</div>
								</div>

								<div class="row ">
									<div class="col-sm-2"></div>
										<div class="col-sm-8 drp-button-class">
											<div class="row">
												<div class="col-sm-4 pad_left">
													<div class="form-group">
														<!-- <input class="form-control fira font-weight-bold" type="text" id="start_date" onchange="selectDates()" value="START DATE"> -->
														<input class="form-control fira font-weight-bold" type="text" id="start_date" onchange="selectDates()" value="START DATE" >
														<!-- <select class="form-control fira font-weight-bold" id="start_date">
														</select> -->
													</div>
												</div>

												<div class="col-sm-4 pad_left">
													<div class="form-group">
														<input class="form-control fira font-weight-bold" type="text" id="end_date" onchange="selectDates()" value="END DATE">
														<!-- <select class="form-control fira font-weight-bold" id="end_date">
														</select> -->
													</div>
												</div>

												<div class="col-sm-4 pad_left">
													<div class="form-group">
														
														<select class="form-control fira font-weight-bold" id="category" onchange="selectCategory()">
                                                            <option value="SELECT CATEGORY">SELECT CATEGORY </option>
                                                            {% for i in category_filter %}
                                                                <option value="{{ i.category }}">{{ i.category }}</option>
                                                            {% endfor %}

														</select>
													</div>
												</div>

											</div>
											<div class="row" style="margin-right: 0px;margin-top: 20px;"></div>
										</div>	
									<div class="col-sm-2"> </div>
								</div>


								<div class="row">
									<div class="col-sm-2"></div>
									<div class="col-sm-8">
										<div class="row" style="margin: 0px;">
											<div id = "no_results">
												<!--<h5 class="fira small-heading" style="letter-spacing: 0px;"> </h5>-->
											</div>
										</div>
									</div>
									<div class="col-sm-2"></div>
									
									<div class="container-fluid" id="list_data" data-toggle="div">
										<div class="row">
											<div class="col-sm-2"></div>
											<div class="col-sm-8 in-middle">
												<div class="row" id="listing" style="margin: 0px;">
												
												</div>

                                                <div id="all_data_whatson" class="row">
                                    {% for i in all_data %}
                                        <div class='col-sm-4 high-para'><div class='row'><div class='col-sm-12 sub-para'><a href='https://museumofchristianart.com/whatsOn_detailed_view/{{ i.slug }}'><img class='img-fluid' src='/media/{{i.event_image}}' href='MoCA' style='width: 100%;'></a><br><div class='row gara-14 fira font-weight-bold high-para' id='event-small-details'>{{ i.category }}</div>
										<a href='https://museumofchristianart.com/whatsOn_detailed_view/{{ i.slug }}'><div class='row side-heading-garamond garamond' id='event-title'>{{ i.event_name }}</a></div><div class='row inner-para garamond' id='event-big-details'>{{ i.start_date }} - {{ i.end_date }}</div></div></div></div>
                                        <!--<div class='col-sm-12 high-para' id='border-line'><div class='row'><div class='col-sm-4 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/{{ i.slug }}'><img class='img-fluid' src='{{ i.event_image }}' href='MoCA' style='width: 100%; height: auto;'></a></div><div class='col-sm-8 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/{{ i.slug }}'><div class='row side-heading-garamond garamond' id='event-title'>{{ i.event_name }}</div></a><div class='row gara-14 garamond font-weight-bold high-para' id='event-small-details'>{{ i.time_duration }}</div><div class='row inner-para garamond' id='event-big-details'>{{ i.event_short_description }}</div></div></div></div>-->
                                    {% endfor %}
                                </div>

											</div>
											<div class="col-sm-2"></div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}

	<!--- Custom Script Block --->
	{% block custom-script %}

		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script type="text/javascript">

		</script>
		<script type="text/javascript">


            // $( function() {
    		// 	$( "#start_date" ).datepicker({
            //         changeMonth: true,
            //         changeYear: true,
            //         yearRange:"-50:+50",
    		// 		dateFormat: "yy-mm-dd",

    		// 	});
    		// });

  			// $( function() {
    		// 	$( "#end_date" ).datepicker({
    		// 		changeMonth: true,
            //         changeYear: true,
            //         yearRange:"-50:+50",
    		// 		dateFormat: "yy-mm-dd",
    		// 	});
  			// } );



			  $( function() {
    			$( "#start_date" ).datepicker({
                    //changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
    				dateFormat: "yy",
                    yearRange:"-50:+50",
                    onClose: function(dateText, inst) {
                        //var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, 1, 1)).trigger('change');
                        selectYear()
                    }
    			});
  			} );



			  $( function() {
    			$( "#end_date" ).datepicker({
                    //changeMonth: true,
                    changeYear: true,
                    showButtonPanel: true,
    				dateFormat: "yy",
                    yearRange:"-50:+50",
                    onClose: function(dateText, inst) {
                        //var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                        var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                        $(this).datepicker('setDate', new Date(year, 1, 1)).trigger('change');
                        selectYear()
                    }
    			});
  			} );





	
			$(document).ready(function(){

					  $("#search_event_exb").on("keyup", debounce(function(){
					  	var value = $(this).val();
					  		$.ajax({
                                
								url: "{% url 'museumapp:eventsMoca' %}",
                                type: "POST",
                                async: false,
                                data: {'search_data': value, csrfmiddlewaretoken: '{{ csrf_token }}'},
                                success: function (result) {
                                    let row;
                                    if(result.length > 0){
                                        $("#all_data_whatson").empty();
                                        $("#no_results").hide();
                                        $("#list_data").show();
                                        $("#listing").html("");
										
                                        $.each(result, function (a, b) {
                                            if (b.event_image != null){
											
											
                                            row ="<div class='col-sm-4 high-para'><div class='row'><div class='col-sm-12 sub-para'><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='/media/"+ b.event_image +"' href='MoCA' style='width: 100%;'></a><br><div class='row gara-14 fira font-weight-bold high-para' id='event-small-details'>"+ b.category  +"</div><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row inner-para garamond' id='event-big-details'>"+ b.start_date +" - "+ b.end_date +"</div></div></div></div>"
                                            //row ="<div class='col-sm-12 high-para' id='border-line'><div class='row'><div class='col-sm-4 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='"+ b.event_image +"' href='MoCA' style='width: 100%; height: auto;'></a></div><div class='col-sm-8 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row gara-14 garamond font-weight-bold high-para' id='event-small-details'>"+ b.time_duration  +"</div><div class='row inner-para garamond' id='event-big-details'>"+ b.event_short_description +"</div></div></div></div>"

                                            $("#listing").append(row);
                                            }
                                        });
                                    }
                                    else{
                                        // if no result found for the given filter, then display no result
                                        $("#no_results h5").html("No results found");
                                        $("#list_data").hide();
                                        $("#no_results").show();
                                    }
								}
							});
					  },300)
						);
					});


			function selectCategory() {

                var category_input = document.getElementById('category').value;

                $.ajax({
					url: "{% url 'museumapp:whatsOn_get_category' %}",
					type: "POST",
					async: false,
					data: {'category_input': category_input, csrfmiddlewaretoken: '{{ csrf_token }}'},
					success: function (result) {
                        let row;
				if(result.length > 0){
					$("#all_data_whatson").empty();
					$("#no_results").hide();
					$("#list_data").show();
					$("#listing").html("");
					$.each(result, function (a, b) {
						if (b.event_image != null){
						row ="<div class='col-sm-4 high-para'><div class='row'><div class='col-sm-12 sub-para'><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='/media/"+ b.event_image +"' href='MoCA' style='width: 100%;'></a><br><div class='row gara-14 fira font-weight-bold high-para' id='event-small-details'>"+ b.category  +"</div><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row inner-para garamond' id='event-big-details'>"+ b.start_date +" - "+ b.end_date +"</div></div></div></div>"
                        //row ="<div class='col-sm-12 high-para' id='border-line'><div class='row'><div class='col-sm-4 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='"+ b.event_image +"' href='MoCA' style='width: 100%; height: auto;'></a></div><div class='col-sm-8 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row gara-14 garamond font-weight-bold high-para' id='event-small-details'>"+ b.time_duration  +"</div><div class='row inner-para garamond' id='event-big-details'>"+ b.event_short_description +"</div></div></div></div>"

						$("#listing").append(row);
						}
					});
				}
				else{
					// if no result found for the given filter, then display no result
					$("#no_results h5").html("No results found");
					$("#list_data").hide();
					$("#no_results").show();
				}

					}
				});

            }




            function selectDates() {

                var start_date = document.getElementById('start_date').value;
                var end_date = document.getElementById('end_date').value;


                $.ajax({
					url: "{% url 'museumapp:whatsOn_get_start_end_date' %}",
					type: "POST",
					async: false,
					data: {'start_date': start_date,'end_date':end_date, csrfmiddlewaretoken: '{{ csrf_token }}'},
					success: function (result) {
                        let row;
                        if(result.length > 0){
                            $("#all_data_whatson").empty();
                            $("#no_results").hide();
                            $("#list_data").show();
                            $("#listing").html("");
                            $.each(result, function (a, b) {
                                if (b.event_image != null){
                                row ="<div class='col-sm-4 high-para'><div class='row'><div class='col-sm-12 sub-para'><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='/media/"+ b.event_image +"' href='MoCA' style='width: 100%;'></a><br><div class='row gara-14 fira font-weight-bold high-para' id='event-small-details'>"+ b.category  +"</div><a href='https://museumofchristianart.com/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row inner-para garamond' id='event-big-details'>"+ b.start_date +" - "+ b.end_date +"</div></div></div></div>"
                                //row ="<div class='col-sm-12 high-para' id='border-line'><div class='row'><div class='col-sm-4 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><img class='img-fluid' src='"+ b.event_image +"' href='MoCA' style='width: 100%; height: auto;'></a></div><div class='col-sm-8 sub-para'><a href='http://127.0.0.1:8000/whatsOn_detailed_view/"+ b.slug +"'><div class='row side-heading-garamond garamond' id='event-title'>"+ b.event_name +"</div></a><div class='row gara-14 garamond font-weight-bold high-para' id='event-small-details'>"+ b.time_duration  +"</div><div class='row inner-para garamond' id='event-big-details'>"+ b.event_short_description +"</div></div></div></div>"

                                $("#listing").append(row);
                                }
                            });
                        }
                        else{
                            $("#no_results h5").html("No results found");
                            $("#list_data").hide();
                            $("#no_results").show();
                        }
					}
				});
            }

		</script>
		
	
	{% endblock %}