{% extends "museumapp/base.html" %}
	{% block body %}<p>Story Details</p>
	    
	
	{{ sdetail }}

	
	<p>{{ sdetail.story_title }}</p>
	<p>{{ sdetail.story_description }}</p>
	<p>{{ sdetail.featured_image }}</p>
	<p>{{ sdetail.chapter_title }}</p>
	<p>{{ sdetail.chapter_content }}</p>
	<p>{{ sdetail.main_image }}</p>
	<p>{{ sdetail.chapter_title }}</p>
	<p>{{ sdetail.main_image_Period }}</p>
	<p>{{ sdetail.main_image_description }}</p>
	<p>{{ sdetail.side_image }}</p>



	 {% endblock %}
