{% extends "museumapp/base.html" %}
	
	<!--- Title --->
	{% block title %}	{% endblock %}

	<!--- Custom CSS --->
	{% block custom-css-parts %}
	{% endblock %}

	<!--- Custom Style --->
	{% block style %}
	{% endblock %}

	<!--- Header SiderBar+Icon ---->
	{% block sidebar %}	{% endblock %}

	<!--- Body content --->
	{% block body-content %}
	{% endblock %}

	<!--- Footer block ---->
	{% block footer %}{% endblock %}

	<!--- custom-scripts ---->
	{% block common-script %}
	{% endblock %}

	<!--- Custom Script Block --->
	{% block custom-script %}	{% endblock %}