.parallax {
	/* Set a specific height */
	min-height: 700px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 5px solid #b5a268;
}
.move-top {
	position: absolute;
	color: white;
	top: 50%;
	left: 15%;
}
@media screen and (max-width: 575px) {
	.display-image{
		text-align: center;
	}
}