.parallax {
	/* Set a specific height */
	min-height: 400px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 5px solid #b5a268;
}
.button-type{
	padding: 0px 2px;
}
.hover-button{
	background-color: #f5f5f5;
	height: 100%;
	padding: 20px 25px 20px 5px;
	width: 100%;
}
#book-content{
	padding-top: 35px;
}
.custom-radio{
	background-color: #f5f5f5;
	margin:15px;
	text-align: center;
	font-weight: bold;
}
.custom-radio input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 100%;
	width: 100%;
	margin-top: -15px;
	margin-left: -40%;
}
.title, span.current-info{
	display: none;
}
form{
	width: 100%;
}
.fira{
	letter-spacing: 0px;
}
div.steps ul li{
	display: inline;
	font-size: 18px;
	text-transform: uppercase;
	color: #dedede82;
	padding: 0px 80px 0px 0px;
	font-weight: bold;
}
div.steps ul{
	padding: 15px 0px;
	background-color: #000;
	margin-bottom: 0px;
}
div.actions ul{
	padding: 15px 0px;
	text-align: end;
	background-color: #f5f5f5;
}
div.actions ul li{
	display: inline;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0px 80px 0px 0px;
	font-weight: bold;
}
div.steps ul li:hover, div.steps ul li:active{
	color: white;
}			
thead{
	background-color: #e6e6e6;
}
#basic-info{
	background-color: #f5f5f5;
	padding: 15px;
}		
.tickets td{
	padding: 25px 0px 15px 0px;
	vertical-align: bottom;
	border-top: 1px solid #000;
}
.tickets th{
	padding: 10px 0px 20px 0px;
	vertical-align: bottom;
	border-top: 1px solid #000;
}
input[type="button"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	background-color: #636363;
	padding: 5px 12px;
	text-align: center;
}
#qty1, #qty2, #qty3{
	border: none;
	background-color: #aaabad;
	padding: 5px 0px;
}
#top-pad{
	padding-top: 100px;
	padding-bottom: 10px;
}
@media (max-width: 425px) {
	div.steps ul li{
		font-size: 15px;
		padding: 0px 10px 0px 0px;
	}
	.custom-radio {
		width: 23.33%;
		padding: 10px;
	}
	div.hover-button div.row{
		justify-content: space-evenly;
	}
	#mob-pad-zero{
		padding-left: 0px;
		padding-top: 10px;
	}
	#mob-center{
		justify-content: center;
	}
}
@media (min-width: 768px) {
	div.steps ul li{
		font-size: 18px;
		padding: 0px 19px 0px 10px;
	}
	.custom-radio {
		padding: 10px 4px;
	}
	#top-pad{
		margin-left: -15px;
		padding-left: 0px;
	}
}
@media (max-width: 320px) {
	div.steps ul li{
		font-size: 11px !important;
	}
}